{% extends 'layout.html' %}

{% block title %} Home {% endblock %}
{% block content %}
<style>
    .search {
        width: calc(100% - 40px);
        max-width: 600px;
        margin: 0 auto;
        height: calc(100vh - 60px);
        position: relative;
        text-align: center;
    }

    .search h1 {
        font-weight: 400;
        font-size: 24pt;
        line-height: 28pt;
        color: #268bd2;
    }

    .search .icon {
        height: 36px;
        width: 36px;
        padding: 14px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0 2px 6px rgba(0,0,0,0.16);
        display: inline-block;
        margin-top: 12vh;
    }

    .search .icon img {
        height: 36px;
        width: 36px;
        display: inline-block;
    }

    .search input {
        width: calc(100% - (20px * 2));
        padding: 14px 20px;
        background-color: #fff;
        box-shadow: 0 2px 6px rgba(0,0,0,0.16);
        border-radius: 8px;
        text-indent: 0;
    }

    .search input:focus {
        background-color: #fff;
        box-shadow: 0 2px 6px rgba(0,0,0,0.16);
    }

    .search svg {
        fill: #67addf;
        position: absolute;
        right: 14px;
        margin-top: 12px;
        cursor: pointer;
    }

    .quick-links {
        width: calc(100% - 2px);
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 155px;
        grid-template-rows: 38px 38px 38px;
        text-align: left;
        margin-top: 38px;
    }

    .quick-links li a img {
        height: 28px;
        vertical-align: middle;
        margin-right: 12px;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: calc(100% - 24px);
        height: 30px;
        background: #f2f3f4;
        text-align: right;
        padding-right: 24px;
    }

    footer > * {
        display: inline-block;
        height: 100%;
        line-height: 32px;
        margin-left: 24px;
    }

    #results {
        width: calc(100% - (20px * 2));
        padding: 14px 20px;
        background-color: #fff;
        box-shadow: 0 2px 6px rgba(0,0,0,0.16);
        border-radius: 0 0 8px 8px;
        text-align: left;
        margin: 0;
        position: relative;
        display: none;
    }

    #results li {
        height: 30px;
        line-height: 30px;
        font-size: 11pt;
    }

    .expanded {
        border-radius: 8px 8px 0 0 !important;
    }

    .expanded-results {
        display: block !important;
    }
</style>
<div class="banner" style="background-image: url({{ url_for('static', filename='img/banners/banner-light.webp') }})">
    <div class="tint"></div>
</div>
<div class="search">
    <a class="icon" href="/">
        <img src="{{ url_for('static', filename='/img/full-res-icon.png') }}">
    </a>
    <h1>{{ quip }}</h1>
    <input placeholder="Search devices" class="round-med" id="search" autocomplete="off"/>
    <svg onclick="referSearch()" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15.5 14h-.79l-.28-.27c1.2-1.4 1.82-3.31 1.48-5.34-.47-2.78-2.79-5-5.59-5.34-4.23-.52-7.79 3.04-7.27 7.27.34 2.8 2.56 5.12 5.34 5.59 2.03.34 3.94-.28 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0 .41-.41.41-1.08 0-1.49L15.5 14zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>
    <ul id="results"></ul>
    <ul class="quick-links">
        <li>
            <a href="/charts/cpus">
                <img src="https://img.icons8.com/color/48/000000/smartphone-cpu.png"/>
                Processors
            </a>
        </li>
        <li>
            <a href="/charts/gpus">
                <img src="https://img.icons8.com/color/48/000000/video-card.png"/>
                Graphics Cards
            </a>
        </li>
        <li>
            <a href="/charts/motherboards">
                <img src="https://img.icons8.com/color/48/000000/motherboard.png"/>
                Motherboards
            </a>
        </li> 
        <li>
            <a>
                <a href="/charts/memory">
                <img src="https://img.icons8.com/color/48/000000/memory-slot.png"/>
                Memory
            </a>
        </li>
        <li>
            <a>
                <a href="/charts/drives">
                <img src="https://img.icons8.com/color/48/000000/hdd.png"/>
                Drives
            </a>
        </li>
        <li>
            <a>
                <a href="/charts/power-supplies">
                <img src="https://img.icons8.com/emoji/48/000000/electric-plug.png"/>
                Power Supplies
            </a>
        </li>
        <li>
            <a>
                <a href="/charts/cases">
                <img src="https://img.icons8.com/plumpy/50/000000/servers-group.png"/>
                Cases
            </a>
        </li>
        <li>
            <a>
                <a href="/charts/coolers">
                <img src="https://img.icons8.com/color/48/000000/cold.png"/>
                Coolers
            </a>
        </li>
        <li>
            <a>
                <a href="/charts/fans">
                <img src="https://img.icons8.com/plasticine/100/000000/fan-speed.png"/>
                Fans
            </a>
        </li>
    </ul>
</div>
<footer>
    <span style="color: #909497; float: left;">
        <svg style="vertical-align: top; margin-top: 8px;" fill="#2ecc71" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" fill="black" width="18px" height="18px"><g><rect fill="none" height="24" width="24"/><rect fill="none" height="24" width="24"/></g><g><g><path d="M6.05,8.05c-2.73,2.73-2.73,7.15-0.02,9.88c1.47-3.4,4.09-6.24,7.36-7.93c-2.77,2.34-4.71,5.61-5.39,9.32 c2.6,1.23,5.8,0.78,7.95-1.37c2.99-2.99,3.83-11.14,4.01-13.38c0.02-0.31-0.23-0.56-0.53-0.53C17.19,4.22,9.04,5.06,6.05,8.05z"/></g></g></svg>
        100% of profits are donated to Team Trees
    </span>
    <a href="/about">About</a>
    <a href="https://wiki.oneorzero.org/Help:Getting_Started">Contribute</a>
</footer>
<!-- Import Axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    // Force JavaScript to run on back
    window.onunload = function(){}; 

    document.getElementById('search').addEventListener('input', search)
    
    document.querySelector('html').addEventListener('click', () => {

        manipulateResults(false)
    })

    document.querySelector('#search').addEventListener('click', (e) => {

       e.stopPropagation()
    })

    document.querySelector('.search svg ').addEventListener('click', (e) => {

       e.stopPropagation()
    })

    function manipulateResults (action) {

        if (action) {

            document.getElementById('search').classList.add('expanded')
            document.getElementById('results').classList.add('expanded-results')
        } else {

            document.getElementById('search').classList.remove('expanded')
            document.getElementById('results').classList.remove('expanded-results')
        }
    }

    function referSearch () {
        
        const endpoint = 'https://wiki.oneorzero.org/index.php?search='
        const term = document.getElementById('search').value.trim()

        window.location.assign(endpoint + term);
    }

    function search (e) {

        const endpoint = 'https://wiki.oneorzero.org/api.php?'
        const params = {
            'action': 'query',
            'format': 'json',
            'list': 'search',
            'srsearch': e.target.value,
            'origin': '*',
            'srlimit': 3
        }

        axios.get(endpoint, { params: params }).then(res => {

            let matches = res.data.query
            let noResults = false
            
            if (matches == undefined) {

                noResults = true
            } else {
                
                if (matches.search.length == 0) {

                    noResults = true
                } else {
                    
                    matches = matches.search
                }
            }

            if (noResults) {

                matches = [
                    {
                        "ns": 0,
                        "title": "No matches found",
                        "pageid": 0,
                        "size": 0,
                        "wordcount": 3,
                        "snippet": ""
                    }
                ]
            }

            let results = document.getElementById('results')
            results.innerHTML = ''
            manipulateResults(true)

            for (i = 0; i < matches.length; i++) {

                let result = document.createElement('LI')
                link = document.createElement('A')
                link.textContent = matches[i].title
                link.href = 'https://wiki.oneorzero.org/view/' + matches[i].title.replace(/\s+/g, '_')

                if (link.title = 'No results found') {

                    link.href = 'https://wiki.oneorzero.org/index.php?search=' + document.getElementById('search').value.trim()
                }

                result.appendChild(link)
                results.appendChild(result)
            }

            console.log(matches)

        }).catch(err => {

            console.log(err)
        })
    }
</script>
{% endblock %}
